.MainPage{
    width: 1440px;
    height: 900px;
    flex-shrink: 0;
    background: #FFFDF5;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse{
    position: absolute;
    left: 1228px;
    bottom: -301px;
    right: -217px;
    top: 772px;

    width: 429px;
    height: 429px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    border-radius: 429px;
    border: 1px solid #514A7E;
}
