.MainScreen{
    width: 1170px;
    height: 803px;
    flex-shrink: 0;
    background: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.NavBar{
    width: 100%;
}
.NavBar .Catalog{
    display: none;
}
.content{
    margin-top: 51px;
    height: 523px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content .contentOrCatalog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Rectangle_22 img{
    max-width: 278px;
    max-height: 242px;
    flex-shrink: 0;
}
#Rectangle_21 img{
    max-width: 476px;
    max-height: 416px;
    flex-shrink: 0;
}
.title{
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #121212;
    font-family: "Roboto variant3", sans-serif;
    font-size: 60px;
    font-style: normal;
    line-height: 52.383px;
}
.titleName{
    display: inline;
    color: #514A7E;
    font-family: "Bad Script", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.406%;
}
.text{
    display: flex;
    width: 249px;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #7D7D7D;
    font-family: "Roboto variant3", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 18.88px;
}
